<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="FromMail" value="milaiva.milic.1993@gmail.com" />
    <add key="Host" value="mail.mdghq.com" />
    <add key="ToMail" value="ivam@mdg.com" />
  </appSettings>
</configuration>